<div class="row">
    <div class="span5 offset3">
    <form>
    <input type="text" value="[% query %]" name="q">
    <a href="#" onClick="parent.location=document.forms[0].q.value" class="btn btn-primary">Search</a>
    </form>
    <br>
    </div>
</div>
<div class="row">
    <div class="span2">
    Options
    </div>
    <div class="span6">
    <br>
[% FOREACH res IN results %]
    <b>[% res.name %]</b> <br>
    [% res.content %]<br><br>
[% END %]
    </div>
</div>
