[% PROCESS searchbar.tt %]

</div>
<div class="row">
    <div class="span2">
<br>
    </div>
    <div class="span6">
[% FOREACH res IN results %]
    <a href="view/[% res.codeurl %]#[% res.id %]"><b>[% res.id %] [% res.name %]</b></a> <br>
    [% res.hl %]<br><br>
[% END %]
    </div>
</div>
