[% PROCESS searchbar.tt
    fixed=1
    padding=20
%]

<div class="row-fluid">
    <div class="span3 toc hidden-phone">
    <div class="sidebar-nav-fixed" style="padding-top:40px;">
    <div class="well">
[% toc %]
    </div>
    </div>
    </div>
    <div class="span9 content span-fixed-sidebar" style="padding-top:100px;">
[% content %]
    </div>
</div>
